result/
output/
project4_provided/output/
.vscode/
*.log
simv
*/simv.daidir/
csrc/
vcs.key
ucli.key
vis_simv
*/vis_simv.daidir/
syn_simv
*/syn_simv.daidir/
synsimv
*/synsimv.daidir/
vcdplus.vpd
vc_hdrs.h
dve_simv
dve_syn_simv
*/dve_simv.daidir/
DVEfiles
*/dve_syn_simv.daidir/
*.vg
*.rep
*.db
*.chk
*.ddc
program.mem
*.sv
!P4_example/*.out